
.display-flex {
	display: flex;
}

.nav, .social-links, .logo {
	display: flex;
	flex-direction: row;
	justify-content: space-around;			
}

.site-header .nav {
	display: flex;
	justify-content: space-around;
	align-items: center;	
}

.site-header .logo {
	display: flex;
	justify-content: space-around;
	align-items: center;	
}

.site-header .social-links {
	display: flex;
	justify-content: space-around;
	align-items: center;	
}

.open-responsive-nav, .close-responsive-nav {
	display: flex;
	flex-direction: row-reverse;
	align-items: center
}

.bottom-nav {
	display: flex;
	flex-direction: row-reverse;
}

.hero-text {
	display: flex;
	flex-direction: column;	
}

.hero-text .scroll-down {
	margin-top: 20%;
}

@media only screen and (max-width: 768px) {
	.bottom-nav, .back-to-top {
		display: none;
	}
	
	.responsive-header {
		display: none;
		flex-direction: column;
		justify-content: space-between;
	}	

	.responsive-nav {
		display: flex;
		flex-direction: column;		
		justify-content: flex-start;
	}

	.responsive-social-links {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.responsive-footer {
		display: flex;
		align-items: center;
	}
}





