
.nav, .social-links, .logo, .mobile-logo, {
	display: flex;
	flex-direction: row;
	justify-content: space-around;			
}

.site-header .nav {
	display: flex;
	justify-content: space-around;
	align-items: center;	
}

.site-header .logo {
	display: flex;
	justify-content: space-around;
	align-items: center;	
}

.site-header .social-links {
	display: flex;
	justify-content: space-around;
	align-items: center;	
}

.open-mobile-nav, .close-mobile-nav {
	display: flex;
	flex-direction: row-reverse;
	align-items: center
}

.bottom-nav {
	display: flex;
	flex-direction: row-reverse;
}

.back-to-top {
	display: flex;
	align-items: center;
	justify-content: center;
}



@media only screen and (max-width: 768px) {
	.bottom-nav, .back-to-top {
		display: none;
	}

	.responsive-nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.responsive-social-links {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.responsive-footer {
		display: flex;
		align-items: center;
	}
}





